.details {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-card {
  background-color: rgb(52, 52, 52);
  max-width: 900px;
  max-height: 70%;
  min-height: 500px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
  display: flex;
  padding: 10px;
  column-gap: 20px;
  box-sizing: border-box;
  color: white;
}

.details-poster {
  border: 1px solid rgb(151, 151, 151);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: auto;
}

.details-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-data > div > h3 {
  color: rgb(197, 197, 197);
  margin-bottom: 15px;
  font-size: 20px;
}

.details-data > div > p {
  color: rgb(173, 173, 173);
  overflow: auto;
  font-size: 16px;
}

.details-close {
  border: 1px solid white;
  width: fit-content;
  height: min-content;
  padding: 5px 8px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 0 auto auto;
  cursor: pointer;
  background-color: #00000000;
  color: white;
}
