.movie-card {
  min-width: 300px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
  margin-left: 13px;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.movie-card:hover {
  z-index: 3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.movie-card:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.41);
  border-radius: 5px;
}

.movie-card > img {
  z-index: 2 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0.5;
}

.movie-card:hover > img {
  display: block;
  opacity: 1;
  transition: opacity 0.15s;
}
